<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - Akbar Express</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Prevent the demo from appearing in search engines -->
    <meta name="robots" content="noindex">

    <!-- Simplebar -->
    <link type="text/css" href="~/assets/vendor/simplebar.min.css" rel="stylesheet">
    <!-- App CSS -->
    <link type="text/css" href="~/assets/css/app.css" rel="stylesheet">
    <link type="text/css" href="~/assets/css/app.rtl.css" rel="stylesheet">

    <!-- Material Design Icons -->
    <link type="text/css" href="~/assets/css/vendor-material-icons.css" rel="stylesheet">
    <link type="text/css" href="~/assets/css/vendor-material-icons.rtl.css" rel="stylesheet">

    <!-- Font Awesome FREE Icons -->
    <link type="text/css" href="~/assets/css/vendor-fontawesome-free.css" rel="stylesheet">
    <link type="text/css" href="~/assets/css/vendor-fontawesome-free.rtl.css" rel="stylesheet">

    <!-- ion Range Slider -->
    <link type="text/css" href="~/assets/css/vendor-ion-rangeslider.css" rel="stylesheet">
    <link type="text/css" href="~/assets/css/vendor-ion-rangeslider.rtl.css" rel="stylesheet">





</head>

<body class="layout-login-centered-boxed">


    @RenderBody()





    <!-- jQuery -->
    <script src="~/assets/vendor/jquery.min.js"></script>

    <!-- Unobtrusive Validations -->
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/assets/vendor/popper.min.js"></script>
    <script src="~/assets/vendor/bootstrap.min.js"></script>

    <!-- Simplebar -->
    <script src="~/assets/vendor/simplebar.min.js"></script>

    <!-- DOM Factory -->
    <script src="~/assets/vendor/dom-factory.js"></script>

    <!-- MDK -->
    <script src="~/assets/vendor/material-design-kit.js"></script>

    <!-- Range Slider -->
    <script src="~/assets/vendor/ion.rangeSlider.min.js"></script>
    <script src="~/assets/js/ion-rangeslider.js"></script>

    <!-- App -->
    <script src="~/assets/js/toggle-check-all.js"></script>
    <script src="~/assets/js/check-selected-row.js"></script>
    <script src="~/assets/js/dropdown.js"></script>
    <script src="~/assets/js/sidebar-mini.js"></script>
    <script src="~/assets/js/app.js"></script>

    <!-- App Settings (safe to remove) -->
    <script src="~/assets/js/app-settings.js"></script>





</body>

</html>
