@model CVBank.Dto.Dtos.ResetPasswordViewModel
@{ Layout = "~/Views/Shared/_ScreenLayout.cshtml"; }
<div class="layout-login-centered-boxed__form">

    <div class="card card-body">


        @*<div class="alert alert-soft-success d-flex" role="alert">
            <i class="material-icons mr-3">check_circle</i>
            <div class="text-body">An email with password reset instructions has been sent to your email address, if it exists on our system.</div>
        </div>*@
        <div class="d-flex flex-column justify-content-center align-items-center mt-2 mb-2 navbar-light">
            <a asp-action="Index" asp-controller="Dashboard" class="navbar-brand text-center mb-2 mr-0" style="min-width: 0">
                <img class="navbar-brand-icon" src="~/assets/images/logo.svg" width="43" alt="Shin Shout">
                @*<img class="navbar-brand-icon" src="~/assets/images/CVBank.png" width="140" alt="Flat">*@
            <span>VVM CV Bank</span>
            </a>
        </div>
        @*@if (TempData["Message"] != null)
        {
    <div class="alert alert-soft-success d-flex" role="alert">
        <i class="material-icons mr-3">check_circle</i>
        <div class="text-body">@TempData["Message"].ToString()</div>
    </div>}*@
        @if (TempData["ErrorMessage"] != null)
        {
    <div class="alert alert-soft-danger d-flex" role="alert">
        <i class="material-icons mr-3">check_circle</i>
        <div class="text-body">@TempData["ErrorMessage"].ToString()</div>
    </div>}
        <form asp-controller="Account" asp-action="ResetPassword" method="POST">

            <input type="hidden" asp-for="Token" />
            <div class="form-group">
                <label class="text-label" for="password_2">Email:</label>
                <div class="input-group input-group-merge">
                    <input id="password_2" type="email" asp-for="Email" class="form-control form-control-prepended" placeholder="Enter new password">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="fa fa-key"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label class="text-label" for="password_2">New Password:</label>
                <div class="input-group input-group-merge">
                    <input id="password_2" type="password" asp-for="Password" class="form-control form-control-prepended" placeholder="Enter new password">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="fa fa-key"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label class="text-label" for="password_2">Confirm Password:</label>
                <div class="input-group input-group-merge">
                    <input id="password_2" type="password" asp-for="ConfirmPassword" class="form-control form-control-prepended" placeholder="Confirm your password">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="fa fa-key"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-block btn-primary" type="submit">Submit</button>
            </div>

        </form>
    </div>
</div>


