@model CVBank.Dto.Dtos.UpdatePasswordDto
@{ Layout = "~/Views/Shared/_MainLayout.cshtml"; }


<div class="card card-form">
    <form asp-controller="Dashboard" asp-action="UpdatePassword" method="POST">
        <div class="row no-gutters">
            <div class="col-lg-12 card-form__body card-body">
                <div class="form-group">
                    <label for="opass">Old Password</label>
                    <input style="width: 270px;" asp-for="OldPassword" type="password" class="form-control" placeholder="Old password">
                    <span asp-validation-for="OldPassword" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label for="npass">New Password</label>
                    <input style="width: 270px;" asp-for="NewPassword" type="password" class="form-control " placeholder="New password">
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="cpass">Confirm Password</label>
                    <input style="width: 270px;" asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm password">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="text-left mb-5">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>

            </div>
        </div>
    </form>

</div>

@section Scripts{
    <!-- Unobtrusive Validations -->
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
}



